{{#if addNewQuestion}}
<h2>New Question</h2>
  <div>
    <form>
      <div class="form-group">
        <label for="questionContent">Question</label>
        {{input value=questionContent id="questionContent"}}
      </div>

      <div class="form-group">
        <label for="authorQuestion">Author</label>
        {{input value=authorQuestion id="authorQuestion"}}
      </div>

      <div class="form-group">
        <label for="notes">Notes</label>
        {{input value=notes id="notes"}}
      </div>
      <button {{action 'saveQuestion'}}>Save Question</button>
    </form>
  </div>
{{else}}
  <button {{action 'questionFormShow'}}>New Question</button>
{{/if}}
