<h3>{{question.questionContent}} - asked by {{question.authorQuestion}}</h3>
<h4>Notes: {{question.notes}}</h4>
<ul>
  {{#each question.answers as |answer|}}
  <li>
    {{answer-tile answer=answer updateAnswer="updateAnswer" deleteAnswer="deleteAnswer"}}
  </li>
  {{/each}}
</ul>

<button {{action 'deleteQuestion' question}}>Delete Question</button>
